@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("react-datepicker/dist/react-datepicker.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__input-container input {
  background-color: transparent;
  border: 1px solid #4d4d4d;
  color: #cacaca;
  font-size: 1.1rem;
  padding: 6px 32px 6px 12px;
  border-radius: 6px;
}

.react-datepicker__input-container input:focus {
  outline: none;
}
